<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="GenericSqlEncoder"
   iconfile="GenericSqlEncoder.png"
   description="SQL generator"
   tooltip="Generate SQL command from the data stream"
   category="Atol CD - Various"
   classname="com.atolcd.pdi.plugin.trans.sql.encoder.GenericSqlEncoderMeta">
		<libraries>
			<library name="GenericSqlEncoder.jar"/>
			<library name="lib/common-util-1.0.4.jar"/>
			<library name="lib/sqlbuilder-2.0.12.jar"/>
		</libraries>
		<localized_category>
			<category locale="en_US">Atol CD - Various</category>
			<category locale="fr_FR">Atol CD - Divers</category>
		</localized_category>
		<localized_description>
			<description locale="en_US">SQL generator</description>
			<description locale="fr_FR">Génération instructions SQL</description>
		</localized_description>
		<localized_tooltip>
			<tooltip locale="en_US">Generate SQL command from the data stream</tooltip>
			<tooltip locale="fr_FR">Génération d'instructions SQL à partir du flux de données</tooltip>
		</localized_tooltip>
</plugin>