<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="GisFileShpInput"
   iconfile="GisFileShpInput.png"
   description="ESRI Shapefile Input"
   tooltip="Read Esri (shp, shx and dbf) files into WKT String. Supported files : POINT, MULTIPOINT, ARC, POLYGON, POINTZ, ARCZ, POLYGONZ or MULTIPOINTZ"
   category="Atol CD - Geospatial"
   classname="com.atolcd.pdi.plugin.trans.gis.gisfileinput.shp.GisFileShpInputMeta">
		<libraries>
			<library name="GisFileShpInput.jar"/>
			<library name="lib/jts-1.13.jar"/>
		</libraries>
		<localized_category>
			<category locale="en_US">Atol CD - Geospatial</category>
			<category locale="fr_FR">Atol CD - Information géographique</category>
		</localized_category>
		<localized_description>
			<description locale="en_US">ESRI Shapefile Input</description>
			<description locale="fr_FR">Extraction depuis fichier ESRI Shapefile</description>
		</localized_description>
		<localized_tooltip>
			<tooltip locale="en_US">Read Esri (shp, shx and dbf) files into WKT String. Supported files : POINT, MULTIPOINT, ARC, POLYGON, POINTZ, ARCZ, POLYGONZ or MULTIPOINTZ</tooltip>
			<tooltip locale="fr_FR">Lecture de fichiers Esri (shp, shx et dbf) avec encodage des géométries au format WKT. Fichiers supportés : POINT, MULTIPOINT, ARC, POLYGON, POINTZ, ARCZ, POLYGONZ or MULTIPOINTZ</tooltip>
		</localized_tooltip>
</plugin>