# ---------------
# remocra-server
# ---------------
remocra/target
dist/target
.settings/
.project
.classpath
.idea
*.iml
.vscode
# ---------------
# vagrant / docker
# ---------------
.vagrant
.docker*
# ---------------
# divers
# ---------------
*.log
packaging/remocrapackage
modelisation/sqlarchitect/*.pdf
