# ---------------
# remocra-server
# ---------------
remocra/target
.settings/
.project
.classpath
.idea
*.iml
# ---------------
# vagrant / docker
# ---------------
.vagrant
.docker*
# ---------------
# divers
# ---------------
*.log
packaging/remocrapackage
modelisation/sqlarchitect/*.pdf
# ---------------
# Temporaire crise
remocra/src/main/webapp/js/app/client
# ---------------
