# ---------------
# remocra-server (Eclipse)
# ---------------
remocra/target
.settings/
.project
.classpath
# ---------------
# vagrant / docker
# ---------------
.vagrant
.docker
# ---------------
# divers
# ---------------
*.log
packaging/remocrapackage
